body {
    background-color: #012340;
    margin: 0;
    font-family: 'NTR', sans-serif;
    line-height: 1.5;
    display: block;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

nav {
    padding-top: 25px;
    padding-left: 100px;
}

hr {
    width: 850px;
    color: lightsteelblue;
    transform: translateY(-80px);
    margin: 0;
}

header {
    width: 800px;
    height: 400px;
    display: block;
    justify-content: center;
    transform: translateX(450px);
    border: none;
    padding-top: 30px;
    padding-bottom: 80px;
    margin: 0;
}

nav a {
    text-decoration: none;
    padding: 5px;
    font-size: 24px;
    color: lightsteelblue;
}

nav a:nth-of-type(1) {
    color: slategray;
    padding-right: 50px;
    font-size: 28px;
    color: #0FC2C0;
}

nav a:nth-of-type(1):hover {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #0FC2C0;
}


h1 {
    padding: 120px;
    color: lightsteelblue;
    font-size: 86px;
}

h2 {
    padding-left: 120px;
    color: lightsteelblue;
    font-size: 40px;
    transform: translateY(-210px);
}

b {
    color: #0FC2C0;
}

header p {
    width: 800px;
    font-size: 28px;
    color: slategrey;
    transform: translateY(-240px);
    text-align: center;
    margin-top: 0;
}

img {
    display: flex;
    transform: translateY(600px);
    margin-left: 1200px;
    padding-bottom: 50px;
    border: solid white 20px;
    background-color: white;
}

section:nth-of-type(1) {
    background-color: #034159;
    padding-left: 150px;
    padding-bottom: 50px;
    border: none;
    margin: 0;
    block-size: 200px;
}

section {
    padding-top: 300px;
    padding-left: 150px;
    padding-bottom: none;
    border: none;
    margin: 0;
    block-size: 200px;
}

section h2 {
    margin: 0%;
    padding-left: 0;
    text-align: center;
    width: 300px;
    border: none;
    margin: 0;
    color: lightsteelblue;
    font-size: 60px;
    border: solid;
    border-color: #0FC2C0;
    border-radius: 0.2em;
}

section a {
    color: #0FC2C0;
}

p {
    width: 800px;
    font-size: 28px;
    color: slategrey;
    text-align: left;
    margin-top: 0;
    padding-bottom: 30px;
}

section p {
    transform: translateY(-160px);
    width: 1000px
}

#experience {
    transform: translateY(350px);
    background-color: #034159;
    padding-bottom: 50px;
}

#experience ul {
    transform: translateY(-190px);
    font-size: 28px;
    color: slategrey;
    text-align: left;
    margin-top: 0;
}

#projects {
    transform: translateY(350px);
    padding-bottom: 50px;
}

#contact {
    transform: translateY(420px);
    background-color: #034159;
    padding-bottom: 10px;
    height: 100px;
}

header a {
    border: solid #0FC2C0;
    font-family: 'NTR';
    padding: 10px 50px;
    margin-right: 70px;
    text-decoration: none;
    color: #0FC2C0;
    border-radius: 0.5em;
}

header a:hover {
    background-color: #0FC2C0;
    cursor: pointer;
    color: #012340;
}